button {
	background: none repeat scroll 0 0 transparent;
	border-spacing: 0;
	border: medium none;
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
}

.about-button {
	position: relative;
	z-index: 10;

	// When open...
	&.active {
		bottom: 0;

		// Change those lines.
		.mobile-menu-bar:nth-of-type(1) {
			transform: translateY(12px) rotate(45deg);
		}

		.mobile-menu-bar:nth-of-type(2) {
			opacity: 0;
		}

		.mobile-menu-bar:nth-of-type(3) {
			transform: translateY(-12px) rotate(-45deg);
		}
	}
}

.about-drop {
	background: $blue;
	font-family: $serif;
	height: 100vh;
	left: 0;
	padding: $gutter;
	position: absolute;
	bottom: 100%;
	transition: bottom 0.4s ease-in-out;
	width: 100%;
	z-index: 1;

	// When open...
	&.active {
		bottom: 0;

		// Change those lines.
		.mobile-menu-bar:nth-of-type(1) {
			transform: translateY(12px) rotate(45deg);
		}

		.mobile-menu-bar:nth-of-type(2) {
			opacity: 0;
		}

		.mobile-menu-bar:nth-of-type(3) {
			transform: translateY(-12px) rotate(-45deg);
		}
	} // &.active

	.wrapper {
		padding: 10% 30% 0;
	}
} // .about-drop

.close {
	font-size: 50px;
}

// Global styles for Hamburger Lines.
.mobile-menu-bar {
	background-color: $black;
	display: block;
	height: 5px;
	margin: 7px auto;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	width: 40px;
}
