// Reset button default styles.
button {
	background: none repeat scroll 0 0 transparent;
	border-spacing: 0;
	border: medium none;
	display: inline-block;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
}

// About section 'dropdown'.
.about-drop {
	background: $blue;
	bottom: 100%;
	font-family: $serif;
	height: 100vh;
	left: 0;
	padding: $gutter*2 $gutter;
	position: absolute;
	transition: bottom 0.4s ease-in-out;
	width: 100%;
	z-index: 1;

	// When open...
	&.active {
		bottom: 0;

		// Change those lines.
		.mobile-menu-bar:nth-of-type(1) {
			transform: translateY(12px) rotate(45deg);
		}

		.mobile-menu-bar:nth-of-type(2) {
			opacity: 0;
		}

		.mobile-menu-bar:nth-of-type(3) {
			transform: translateY(-12px) rotate(-45deg);
		}
	} // &.active

	// WWDD title.
	h2 {
		border-bottom: 2px solid $black;
		font-size: 34px;
		margin-top: 50px;

		@media (min-width: $tablet-portrait) {
			margin-top: 0;
		}
	}

	// Content.
	p {
		font-size: 24px;
		margin: 0;
	}
} // .about-drop


.about-drop {

	// Wrapper around content of about 'dropdown'.
	.wrapper {

		@media (min-width: $tablet-portrait) {
			padding: 10% 15%;
		}

		// Heart + link.
		a,
		.fa {
			color: $darkpink;
		}

		// Links.
		a {
			box-shadow: inset 0 -0.1em 0 -.5px $darkpink;
			-webkit-box-shadow: inset 0 -0.1em 0 -.5px $darkpink;

			color: $black;
			text-decoration: none;
			transition-duration: 0.2s;
			transition-property: box-shadow;
			transition-timing-function: cubic-bezier(0, 0, 0.58, 1);

			@media (min-width: $phone-landscape) {
				box-shadow: inset 0 -0.1em 0 0 $darkpink;
			}

			&:hover,
			&:focus,
			&:active {
				box-shadow: inset 0 -0.25em 0 -.5px $darkpink;
			}
		}
	} // .wrapper
} // .about-drop

// Open + Close About 'dropdown'.
.about-button {
	position: relative;
	z-index: 10;
	margin-bottom: 20px;

	// When open...
	&.active {
		bottom: 0;

		// Change those lines.
		.mobile-menu-bar:nth-of-type(1) {
			transform: translateY(12px) rotate(45deg);
		}

		.mobile-menu-bar:nth-of-type(2) {
			opacity: 0;
		}

		.mobile-menu-bar:nth-of-type(3) {
			transform: translateY(-12px) rotate(-45deg);
		}
	}

	// Global styles for Hamburger Lines.
	.mobile-menu-bar {
		background-color: $black;
		display: block;
		height: 5px;
		margin: 7px auto;
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		width: 40px;
	}
} // .about-button
