@import "normalize";

$title: 'Vollkorn', serif;
$serif: 'EB Garamond', serif;

$pink: #fe91e3;
$darkpink: darken($pink, 40%);
$blue: #aacfd8;
$black: #000;

$large-desktop: 1680px;
$desktop: 1366px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;

$gutter: 20px;

// Colours.
$colours: ( #88527F, #DB5ABA, #C455A8, #CF8BA3, #D7A6B3, #8AB5CB, #75AEB7 );

.app {
	background-color: $pink;
	background-size: cover;
	background: url('/src/assets/img/dolly-parton.png') no-repeat left fixed;
	font-family: $serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: $gutter;
}

.transitional {
	transition: background-color 0.25s ease-in;

	@each $current-colour in $colours {
		$i: index($colours, $current-colour);

		&.background_#{$i} {
			background-color: $current-colour;

			.button {
				background-color: rgba(darken($current-colour, 8%), 0.55);
			}
		}
	}
} // .transitional

h1 {
	font-family: $title;
	font-size: 45px;
	margin: 0;
	text-align: center;

	@media (min-width: $tablet-portrait) {
		font-size: 60px;
	}

	@media (min-width: $large-desktop) {
		font-size: 90px;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;

	.quote {
		font-size: 28px;
		position: relative;

		@media (min-width: $tablet-portrait) {
			font-size: 34px;
			min-height: 210px;
		}

		@media (min-width: $tablet-landscape) {
			min-height: 250px;
		}

		@media (min-width: $desktop) {
			font-size: 40px;
		}

		@media (min-width: $large-desktop) {
			min-height: 210px;
		}

		p {
			margin-top: 0;
		}
	} // .quote
} // .wrapper

.button {
	border-radius: 5px;
	font-size: 28px;
	padding: $gutter/2 $gutter;

	@media (min-width: $tablet-portrait) {
		bottom: 0;
		position: absolute;
	}

	@media (min-width: $tablet-landscape) {
		bottom: -15%;
		position: absolute;
	}
}

.content {
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;

	@media (min-width: $tablet-landscape) {
		margin: 0 3% 0 auto;
		width: 60%;
	}

	@media (min-width: $desktop) {
		margin: 0 5% 0 auto;
		width: 50%;
	}
}

.twitter {
	position: absolute;
	right: $gutter;
	top: $gutter;
}

@import "about";
