@import "normalize";

$cursive: 'Dancing Script', cursive;;
$serif: 'EB Garamond', serif;

$pink: #fe91e3;
$darkpink: darken($pink, 40%);
$blue: #aacfd8;
$black: #000;

$large-desktop: 1680px;
$desktop: 1366px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;
$phone-landscape: 650px;

$gutter: 20px;

// Colours.
$colours: ( #9F6096, #DB5ABA, #C455A8, #CF8BA3, #D7A6B3, #8AB5CB, #75AEB7 );

.app {
	background-color: $pink;
	background-size: cover;
	background: url('/src/assets/img/dolly-parton.png') no-repeat left fixed;
	font-family: $serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: $gutter;
}

.transitional {
	transition: background-color 0.25s ease-in;

	@each $current-colour in $colours {
		$i: index($colours, $current-colour);

		&.background_#{$i} {
			background-color: $current-colour;

			.button {
				-webkit-transform: perspective(1px) translateZ(0);
				-webkit-transition-duration: 0.3s;
				-webkit-transition-property: transform;
				background-color: rgba(darken($current-colour, 8%), 0.55);
				box-shadow: 0 0 1px transparent;
				display: inline-block;
				transform: perspective(1px) translateZ(0);
				transition-duration: 0.3s;
				transition-property: transform;
				vertical-align: middle;

				&:hover {
					-webkit-transform: scale(1.05);
					transform: scale(1.05);
				}
			} // .button
		}
	} // background-colours loop
} // .transitional

h1 {
	font-family: $cursive;
	font-size: 45px;
	text-align: center;

	@media (min-width: $tablet-portrait) {
		font-size: 80px;
	}

	@media (min-width: $desktop) {
		font-size: 90px;
	}
} // h1

.wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;

	.quote {
		font-size: 28px;
		position: relative;

		@media (min-width: $tablet-portrait) {
			font-size: 34px;
			min-height: 210px;
		}

		@media (min-width: $tablet-landscape) {
			min-height: 250px;
		}

		@media (min-width: $desktop) {
			font-size: 34px;
		}

		@media (min-width: $large-desktop) {
			min-height: 210px;
		}

		p {
			font-weight: normal;
			letter-spacing: 1.6px;
			margin-top: 0;
		}
	} // .quote
} // .wrapper

.button {
	border-radius: 5px;
	font-size: 28px;
	padding: $gutter/2 $gutter;

	@media (min-width: $tablet-portrait) {
		bottom: 0;
		position: absolute;
	}

	@media (min-width: $tablet-landscape) {
		bottom: -15%;
		position: absolute;
	}
}

.content {
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;

	@media (min-width: $tablet-landscape) {
		margin: 0 3% 0 auto;
		width: 60%;
	}

	@media (min-width: $desktop) {
		margin: 0 5% 0 auto;
		width: 50%;
	}
}

.twitter {
	font-size: 28px;
	position: absolute;
	right: $gutter;
	top: $gutter;

	a {
		color: $black;
	}
}

// Hide text meant only for screen readers.
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;

	&:hover,
	&:active,
	&:focus {
		background-color: $black;
		box-shadow: 0 0 2px 2px rgba($black, 0.6);
		clip: auto !important;
		color: $black;
		display: block;
		font-size: 14px;
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}

@import "about";
