@import "normalize";

$title: 'Vollkorn', serif;
$serif: 'EB Garamond', serif;
$pink: #fe91e3;
$darkpink: darken($pink, 40%);
$blue: #aacfd8;
$black: #000;
$gutter: 20px;

// Colours.
$colours: ( #DB5ABA, #C455A8, #CF8BA3, #D7A6B3, #E5CDC8 );

.app {
	background-color: $pink;
	background-size: cover;
	background: url('/src/assets/img/dolly-parton.png') no-repeat left fixed;
	font-family: $serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: $gutter;
}

.transitional {
	transition: background-color 0.25s ease-in;

	@each $current-colour in $colours {
		$i: index($colours, $current-colour);

		&.background_#{$i} {
			background-color: $current-colour;
		}
	}
} // .transitional

h1 {
	font-family: $title;
	font-size: 60px;
	margin: 0;
	text-align: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;

	.quote {
		align-content: flex-start;
		display: flex;
		flex-direction: column;
		font-size: 40px;
		width: 100%;
		// min-height: 150px;
		// justify-content: space-between;

		p {
			margin-top: 0;
		}
	}
}

.content {
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: auto;
	width: 50%;
}
.twitter {
	position: absolute;
	right: $gutter;
	top: $gutter;
}

@import "about";
