@import "normalize";

$cursive: 'Meddon', cursive;
$serif: 'EB Garamond', serif;
$pink: #fe91e3;
$blue: #aacfd8;

// Colours.
$colours: ( #DB5ABA, #C455A8, #CF8BA3, #D7A6B3, #E5CDC8 );

body {
	font-family: $serif;
	height: 100%;
	// background: url(../assets/img/bg.jpg) no-repeat center fixed;
	background-size: cover;
}

.transitional {
	transition: background-color 0.25s ease-in;

	@each $current-colour in $colours {
		$i: index($colours, $current-colour);

		&.background_#{$i} {
			background-color: $current-colour;
		}
	}
} // .transitional

h1 {
	font-family: $cursive;
	font-size: 70px;
	margin: 0;
	text-align: center;
	word-spacing: 25px;
}

button {
	background: none repeat scroll 0 0 transparent;
	border-spacing: 0;
	border: medium none;
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 1500px;
	width: 95%;
}

.content {
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	float: right;
	justify-content: center;
	min-height: 450px;
	position: relative;
	width: 50%;
}

.about-drop {
	background: $blue;
	font-family: $serif;
	height: 100vh;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 0.25s ease-in-out;
	width: 100%;
	z-index: 10;

	&.active {
		opacity: 1;
	}

	.innerWrapper {
		padding: 10% 30%;
	}
} // .about-drop

.close {
	font-size: 50px;
}
